.uk-navbar-nav
  li
    a
      text-transform none

.nofloat
  clear both

.centered
  margin 0 auto

.feed-subscribe
  margin-top 50px
  .uk-form-label
    font-size 1em
    margin-top 10px
    width 100px
  .uk-form-controls
    margin-left 100px
