.uk-navbar-nav
  li
    a
      text-transform none

.italic
    font-style italic

.bold
  font-weight bold

.nofloat
  clear both

.centered
  margin 0 auto

.heading-with-spinner
  text-align center
  vertical-align middle
  margin-bottom 15px
  h1, h2, h3, h4, .uk-spinner
    display inline-block
    vertical-align middle
    margin-bottom 0
  .uk-spinner
    margin-left 15px
