.uk-navbar-nav
  li
    a
      text-transform none

.nofloat
  clear both

.centered
  margin 0 auto

.feed-subscribe
  margin-top 50px
  .uk-form-label
    font-size 1em
    margin-top 10px
    width 100px
  .uk-form-controls
    margin-left 100px
  .uk-alert
    width 300px
    margin auto
    margin-bottom 30px
    p
      margin-bottom 0
      margin-right 30px
  .uk-alert-close
    top 10px
    &:after
      display none

.heading-with-spinner
  text-align center
  vertical-align middle
  margin-bottom 15px
  h1, .uk-spinner
    display inline-block
    vertical-align middle
    margin-bottom 0
  .uk-spinner
    margin-left 15px
